*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    #promotion {
        background-color: #010033;
        width: 100%;
        height: 5vh;
        color: whitesmoke;
        line-height: 5vh;
        font-size: 17px;
        text-align: center;
        font-family: sans-serif;
    }

    #header {
        height: 14vh;
        width: 97vw;
        font-family: 'Spicy Rice', cursive;
        font-size: 29px;
        letter-spacing: 3px;
        line-height: 10vh;
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }

    #header a {
        color: darkgreen;
        text-decoration: none;
    }

    #logo {
        width: 180px;
        height: 100px;
    }

    #subheader {
        display: flex;
        flex-direction: column;
        line-height: 2vh;
        text-align: center;
        font-size: 15px;
    }

    #subheader a.cart {
        margin-top: 15px;
        width: 200px;
        font-family: sans-serif;
    }

    /*End base template*/
    /*Content list items*/
    img#cart {
        width: 50px;
        height: 50px;
    }

    #content {
        display: flex;
        flex-direction: row;
        font-family: sans-serif;
        min-height: 78vh;
        margin-bottom: 30px;
    }

    #sidebar {
        padding: 10px;
        width: 20vw;
        background-color: #fff8fd;
    }

    #sidebar h3 {
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }

    #sidebar ul {
        margin-top: 25px;
        list-style: none;
    }

    #sidebar ul li {
        padding-left: 8px;
        letter-spacing: 2px;
        height: 30px;
        margin-top: 5px;
    }

    #sidebar ul li a {
        color: black;
        text-decoration: none;
        display: block;
        padding-bottom: 8px;
    }

    #sidebar ul li a:hover {
        font-weight: bold;
    }


    div.product-list {
        background-color: #fffaea;
        width: 94%;
        min-height: 80vh;
    }

    div.product-list h3 {
        padding: 10px;
    }

    div.list {
        display: flex;
        flex-wrap: wrap;
    }

    div.item {
        width: 300px;
        margin: 10px;
    }

    div.item a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    div.item a#product_name {
        margin-left: 10px;
    }

    div.item p.price {
        margin-left: 10px;
    }

    div.item img {
        width: 100%;
        margin: 5px;
    }

    /* End list items */
    /* Item view */
    div.product-detail {
        margin: 40px auto;
        display: flex;
        width: 80vw;
        height: 500px;
        border: 1px solid grey;
    }

    div.product-detail img#product {
        width: 400px;
        height: 400px;
        margin: 50px;
    }

    div.product-detail div.description {
        margin: 50px;
    }

    div.description h1 {
        margin-bottom: 5px;
    }

    div.description h2 {
        margin-bottom: 35px;
    }

    div.description h2 a {
        color: darkblue;
        text-decoration: none;
    }

    div.description p.description_product {
        font-style: italic;
    }

    div.description p.price {
        margin-top: 30px;
    }

    div.description form {
        margin-top: 10px;
        width: 300px;
        height: 200px;
    }

    div.description input.add_cart {
        padding: 10px 10px;
        color: whitesmoke;
        background-color: #b90026;
        cursor: pointer;
        font-weight: bold;
        transition: 0.6s;
    }


    /* End item view */
    /* View cart page */
    div.cart {
        margin: 0 auto;
    }

    div.cart h1 {
        margin-bottom: 30px;
    }

    tr td {
        width: 200px;
        text-align: center;
    }

    td input#change {
        color: whitesmoke;
        background-color: black;
        padding: 3px 7px;
        border: 1px solid grey;
    }

    tr.item {
        height: 40px;
    }

    tr.subtotal {
        height: 30px;
    }

    tr.subtotal td {
        font-weight: bold;
    }

    tr.cupon {
        height: 40px;
    }

    tr.total {
        height: 50px;
        font-weight: bold;
    }

    tr.total td {
        border-top: 1px solid grey;
    }

    img#min_img {
        width: 100px;
        height: 100px;
    }

    #delete {
        background-color: #b90026;
        color: whitesmoke;
        text-decoration: none;
        border: 1px solid grey;
        padding: 4px 8px;
    }

    div.discount {
        margin-top: 30px;
        padding: 20px;
        border: 1px solid grey;
        width: 350px;
    }

    #enter_coupon {
        background-color: #b90026;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 5px 8px;
        font-weight: bold;
    }

    div.discount p {
        font-weight: bold;
        margin-bottom: 10px;
    }

    p.text-right {
        text-align: right;
    }

    p.text-right a {
        text-decoration: none;
        border: 1px solid grey;
    }

    p.text-right a.button_continue {
        background-color: #00879a;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 8px 14px;
        font-weight: bold;
    }

    p.text-right a.button_to_cash {
        background-color: #b90026;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 8px 44px;
        font-weight: bold;
    }

    /* Create order page */
    div.order-general {
        width: 100vw;
    }

    div.order-general h1 {
        text-align: center;
        margin: 0 auto;
    }


    div.order {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }


    div.order div.order-info {
        width: 35vw;
        border: 1px solid grey;
        padding: 25px;
        box-shadow: 1px 1px 1px grey;
        margin: 0 20px;
    }

    div.order div.order-info ul {
        margin-top: 10px;
        min-height: 75%;
    }

    div.order div.order-info ul li {
        list-style: none;
        margin-left: 10px;
        margin-top: 5px;
    }

    div.order div.order-info ul li#coupon {
        margin-top: 10px;
        font-weight: bold;
    }

    div.order div.order-info ul li span {
        margin-left: 10px;
    }

    div.order div.order-info p.total_price {
        text-align: right;
        margin-top: 20px;
        font-weight: bold;
    }

    div.order form.order-form {
        border: 1px solid grey;
        padding: 25px;
        box-shadow: 1px 1px 1px grey;
        margin-left: 60px;
    }

    form.order-form h3 {
        margin-bottom: 20px;
    }

    form.order-form p {
        margin-bottom: 10px;
    }

    form.order-form p label {
        display: inline-block;
        width: 160px;
    }

    form.order-form p#enter_order {
        margin-top: 25px;
        margin-bottom: 0px;
        text-align: right;
    }

    form.order-form p#enter_order input#enter_order {
        background-color: #b90026;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 8px 13px;
        font-weight: bold;
    }

    /* footer - base templates */
    footer {
        background-color: black;
        color: whitesmoke;
        height: 4vh;
        text-align: center;
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: whitesmoke;
    }

@media(max-width:365px) and (max-height:645px){

    #promotion {
        background-color: #010033;
        height: 10vh;
    }
    #header {
        height: 20vh;
        width: 98vw;
    }

    #header a {
        color: darkgreen;
        text-decoration: none;
    }

    #logo {
        width: 170px;
        height: 100px;
    }

    #subheader {
        font-size: 0px;
        margin-top:12px;
        width:80px;
    }

    #subheader a.cart {
        margin-left:220px;
    }

    /*End base template*/
    /*Content list items*/

    #content {
        flex-direction: column;
    }

    #sidebar {
        text-align: center;
        width: 100vw;
    }

    #sidebar ul {
        margin-bottom: 20px;

    }

    #sidebar ul li {
        letter-spacing: 3px;
        height: 35px;
        background-color: #1f1f1f;
        line-height: 35px;
        border: 1px solid grey;
    }

    #sidebar ul li a {
        color:white;
        text-transform: uppercase;
    }

    div.product-list {
        width: 100%;
    }

    div.product-list h3 {
        padding: 10px;
        text-align: center;
        font-size:28px;
    }



    div.item {
        width: 300px;
        margin: 10px auto;
    }

    div.item a#product_name {
        display: block;
        text-align: center;
        margin-top:6px;
        font-size:19px;
    }

    div.item p.price {
        display: block;
        text-align: center;
        margin: -10px 0 0 10px;
    }

    div.item img {
        width: 100%;
        margin: 0px;
    }

    /* End list items */
    /* Item view */
    div.product-detail {
        margin: 0px;
        flex-direction: column;
        width: 100vw;
        min-height: 112vh;
        border: none;
    }

    div.product-detail img#product {
        width: 80vw;
        height: 250px;
        margin: 20px auto;
    }


    div.description h1 {
        margin-bottom: 15px;
    }


    div.description p.price {
        margin-top: 40px;
        text-align: right;
    }

    div.description form {
        display: flex;
        flex-direction: column;
        width: 120px;
        height: 200px;
    }
    form select#id_quantity{
        margin:10px 0 0 90px;
        height:40px;
        width:70px;
        padding-left: 20px;
    }

    div.description input.add_cart {
        font-size:18px;
        font-weight: bold;
        width: 200px;
        height: 50px;
        margin:13px 0 0 30px ;
    }


    /* End item view */
    /* View cart page */
    div.cart {
        margin: 0 auto;
    }

    div.cart h1 {
        margin-bottom: 30px;
    }

    tr td {
        width: 200px;
        text-align: center;
    }

    td input#change {
        color: whitesmoke;
        background-color: black;
        padding: 3px 7px;
        border: 1px solid grey;
    }

    tr.item {
        height: 40px;
    }

    tr.subtotal {
        height: 30px;
    }

    tr.subtotal td {
        font-weight: bold;
    }

    tr.cupon {
        height: 40px;
    }

    tr.total {
        height: 50px;
        font-weight: bold;
    }

    tr.total td {
        border-top: 1px solid grey;
    }

    img#min_img {
        width: 100px;
        height: 100px;
    }

    #delete {
        background-color: #b90026;
        color: whitesmoke;
        text-decoration: none;
        border: 1px solid grey;
        padding: 4px 8px;
    }

    div.discount {
        margin-top: 30px;
        padding: 20px;
        border: 1px solid grey;
        width: 350px;
    }

    #enter_coupon {
        background-color: #b90026;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 5px 8px;
        font-weight: bold;
    }

    div.discount p {
        font-weight: bold;
        margin-bottom: 10px;
    }

    p.text-right {
        text-align: right;
    }

    p.text-right a {
        text-decoration: none;
        border: 1px solid grey;
    }

    p.text-right a.button_continue {
        background-color: #00879a;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 8px 14px;
        font-weight: bold;
    }

    p.text-right a.button_to_cash {
        background-color: #b90026;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 8px 44px;
        font-weight: bold;
    }

    /* Create order page */
    div.order-general {
        width: 100vw;
    }

    div.order-general h1 {
        text-align: center;
        margin: 0 auto;
    }


    div.order {
        display: flex;
        margin-top: 30px;
        justify-content: center;
    }


    div.order div.order-info {
        width: 35vw;
        border: 1px solid grey;
        padding: 25px;
        box-shadow: 1px 1px 1px grey;
        margin: 0 20px;
    }

    div.order div.order-info ul {
        margin-top: 10px;
        min-height: 75%;
    }

    div.order div.order-info ul li {
        list-style: none;
        margin-left: 10px;
        margin-top: 5px;
    }

    div.order div.order-info ul li#coupon {
        margin-top: 10px;
        font-weight: bold;
    }

    div.order div.order-info ul li span {
        margin-left: 10px;
    }

    div.order div.order-info p.total_price {
        text-align: right;
        margin-top: 20px;
        font-weight: bold;
    }

    div.order form.order-form {
        border: 1px solid grey;
        padding: 25px;
        box-shadow: 1px 1px 1px grey;
        margin-left: 60px;
    }

    form.order-form h3 {
        margin-bottom: 20px;
    }

    form.order-form p {
        margin-bottom: 10px;
    }

    form.order-form p label {
        display: inline-block;
        width: 160px;
    }

    form.order-form p#enter_order {
        margin-top: 25px;
        margin-bottom: 0px;
        text-align: right;
    }

    form.order-form p#enter_order input#enter_order {
        background-color: #b90026;
        color: whitesmoke;
        border: 1px solid grey;
        padding: 8px 13px;
        font-weight: bold;
    }

    /* footer - base templates */
    footer {
        background-color: black;
        color: whitesmoke;
        height: 4vh;
        text-align: center;
        line-height: 4vh;
    }

    footer a {
        text-decoration: none;
        color: whitesmoke;
    }
}



